/* Browser prefixes courtesy of https://autoprefixer.github.io/ */

* {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1400px;
  margin-right: 20px;
  margin-left: 20px;
  background-color: #efefef;
  font-size: 16px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
  padding-bottom: 10px;
  overflow: auto;
  border-bottom: 2px solid #7d97ad;
}

.heading-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  color: #2d3c49;
  font: 400 4em Open-Sans;
}

h2 {
  margin-bottom: 25px;
  color: #2d3c49;
  font: 200 2.5em Open-Sans;
  text-align: center;
}

.logo {
  width: 75px;
  height: 75px;
}

.sub-heading {
  margin: 0;
  font-size: 2em;
  line-height: 1;
  text-align: right;
}

#xkcd {
  display: block;
  width: 45%;
  margin-right: auto;
  margin-left: auto;
}

.caption {
  font-size: 0.75em;
  text-align: center;
}

.portfolio-grid {
  display: grid;
  grid-auto-rows: 350px;
  grid-gap: 40px;
  grid-template-columns: 1fr 1fr 1fr;
}

.project {
  margin-top: 0;
}

.fig {
  margin: 0;
}

.project-image {
  display: block;
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.project-title {
  margin-top: 2px;
  margin-bottom: 2px;
  color: #2d3c49;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
}

.github-link {
  margin-top: 2px;
  margin-bottom: 2px;
  color: #2d3c49;
  font-size: 0.8em;
  text-align: center;
}

/* small screens */
@media screen and (max-width: 750px) {

  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .heading-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  h1 {
    font-size: 2em;
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  .sub-heading {
    font-size: 1.2em;
    text-align: center;
  }

  .logo {
    width: 50px;
    height: 50px;
  }

  .portfolio-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .project {
    margin-bottom: 30px;
  }

  .project-image {
    display: block;
    max-width: 70%;
    margin: auto;
  }

  .project-title {
    font-size: 1.2em;
  }
}

/* medium screens */
@media screen and (min-width: 750px) and (max-width: 1099px) {

  .project-title {
    font-size: 1em;
  }

  .github-link {
    font-size: 0.75em;
  }
}

/* large screens */
@media screen and (min-width: 1100px) {

  body {
    margin-right: 100px;
    margin-left: 100px;
  }
}

/* very large screens */
@media screen and (min-width: 1500px) {

  body {
    margin-right: auto;
    margin-left: auto;
  }
}
