/* Browser prefixes courtesy of https://autoprefixer.github.io/ */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin-right: 20px;
  margin-left: 20px;
  background-color: #efefef;
  font-size: 16px;
}

header {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -ms-flex-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          align-items: center;
          justify-content: space-between;
  margin-top: 30px;
  padding-bottom: 10px;
  overflow: auto;
  border-bottom: 2px solid #7d97ad;
}

h1 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
  float: right;
  color: #2d3c49;
  font: 400 4em Open-Sans;
}

h2 {
  margin-bottom: 16px;
  color: #2d3c49;
  font: 200 2em Open-Sans;
}

.logo {
  width: 75px;
  height: 75px;
  float: left;
}

#sub-heading {
  font-size: 0.5em;
  line-height: 1;
  text-align: right;
}

#xkcd {
  display: block;
  width: 45%;
  margin-right: auto;
  margin-left: auto;
}

.caption {
  font-size: 0.75em;
  text-align: center;
}

.portfolio-grid {
  display: grid;
  grid-auto-rows: 400px;
  grid-gap: 40px;
  grid-template-columns: 1fr 1fr 1fr;
}

.project {
  margin-top: 0;
}

.project-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.fig {
  margin: 0;
}

.project-image {
  display: block;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.project-image-portrait {
  display: block;
  max-width: 100%;
  max-height: 300px;
  margin-right: auto;
  margin-left: auto;
}

.project-title {
  margin-top: 8px;
  margin-bottom: 8px;
  color: #2d3c49;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
}

.github-link {
  margin-top: 8px;
  margin-bottom: 8px;
  color: #2d3c49;
  font-weight: 400;
  text-align: center;
}

/* small screens */
@media screen and (max-width: 700px) {

  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    flex-direction: column;
            align-items: center;
  }

  h1 {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 2em;
  }

  h2 {
    text-align: center;
  }

  .logo {
    width: 50px;
    height: 50px;
  }

  .portfolio-grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
            flex-direction: column;
            align-items: center;
  }

  .project {
    margin-bottom: 30px;
  }

  .project-image {
    display: block;
    max-width: 70%;
    margin: auto;
  }

  .project-image-portrait {
    max-height: 300px;
  }

  .project-title {
    font-size: 1.2em;
  }
}

/* medium screens */
@media screen and (min-width: 701px) and (max-width: 1099px) {

  .project-image-portrait {
    max-height: 200px;
  }

  .project-title {
    font-size: 1em;
  }

  .github-link {
    font-size: 0.75em;
  }
}

/* large screens */
@media screen and (min-width: 1100px) {

  body {
    margin-right: 100px;
    margin-left: 100px;
  }
}
