*{box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

body {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 16px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  overflow: auto;
  padding-bottom: 10px;
  border-bottom: 2px solid #7d97ad;
}

h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
          flex-direction: column;
  float: right;
  margin-top: 0;
  margin-bottom: 0;
  color: #2d3c49;
  font: 200 4em "Open Sans";
}

h2 {
  color: #7d97ad;
  font: 200 2em "Open Sans";
  margin-top: 0;
  margin-bottom: 0;
}

.sub-heading {
  font-size: 0.5em;
  line-height: 1;
  text-align: right;
}

.logo {
  float: left;
  width: 75px;
  height: 75px;
}

#xkcd {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.xkcd-caption {
  text-align: center;
}

.featured-work {
}

@media screen and (max-width: 550px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
            align-items: center;
  }
  h1 {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 2em;
  }
  .logo {
    width: 50px;
    height: 50px;
  }
}

@media screen and (min-width: 900px) {
  body {
    margin-left: 100px;
    margin-right: 100px;
  }
  #xkcd {
    width: 70%;
  }
}
